@charset "UTF-8";

:root{
    --cor1: #D9B777;
    --cor2: #5EBAF2;
    --cor3:#364959;
    --cor4:#1570BF;
    --cor5:#CFA01C;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    width: 300px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.363);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display:block;
    background: #364959 url(../imagens/pexels-ann-h-1762851.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#login >div#formulario{
    display:block;
    padding: 10px;   
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 1em;
    margin-bottom: 10px;
}

form > div.campo{
    background-color: var(--cor3);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;   
}

div.campo label{
    display: none;   
}

div.campo > span{
    color: var(--cor5);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo >input {
    background-color: #eee2cd;
    font-size: 1em;
    height: 80%;
    width: calc( 100% - 46px) ; 
    border-radius: 0px 5px 5px 0px;
    border: 0px;
    transform: translate( -2px, -11px);
}

div.campo>input:focus-within{
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display:block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor5);
    color: #0e1316;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--cor1);
    color: white;
}

form > a.botao{
   display: block; 
   text-align: center;
   background-color: #ffffff;
   padding: 10px;
   margin-top: 5px;
   border-radius: 5px;
   text-decoration: none;
   color: #0e1316;
   width: 100%;
   height: 40%;
   border:1px solid var(--cor5)

}


form > a.botao:hover{
    background-color: var(--cor1);
    color: white;
}

