@charset "UTF-8";

:root{
    --cor1: #D9B777;
    --cor2: #5EBAF2;
    --cor3:#364959;
    --cor4:#1570BF;
    --cor5:#CFA01C;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.363);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display:block;
    background: #364959 url(../imagens/pexels-ann-h-1762851.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#login >div#formulario{
    display:block;
    padding: 10px;   
}

